@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;400&display=swap');

*{
    font-family: 'Ysabeau', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
   display: flex;
   flex-wrap: wrap;
   max-width: 1400px;
   margin: 20px auto;
   padding:0 2%;
}

html,body{
    height:100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image:  url(https://wallpapercave.com/wp/wp3293972.jpg);
    background-position: center;
    background-size: cover;
}

header{
    height: 200px;
    padding: 20px 0;
}

.header{
    position: fixed;
    top: 0;
    left: 110px;
    width: 100%;
    background: transparent;
    display: absolute;
    padding: 40px 10%;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.action_btn 
{
    background-color: purple;
    color: beige;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}
.search-bar{
    position: relative;
    left: 50px;
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}



.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.search-bar input::placeholder{
    color: #fff;
}
.search-bar button i{
    font-size: 22px;
}

.logo{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.nav ul 
{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;



}

.menu{
    width: 50%;
    text-align: right;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    
}
.translucent-box {
    position: relative;
    top: 90px;
    width: 380px;
    height: 500px;
    right: auto;
    left: 315px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 25px;
    opacity: 80%;
    box-shadow: 0px 4px 50px rgba(255,255,255, 0.5);
}


section.sobre{
    height: calc(100% - 200px);
    position: relative;
}



.backgroud-color-sobre{
    background-color: white;
    width: 100%;
    padding: 100px 0px;
}

.Main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1120px;
    margin: 0 auto;
}

.form-value{
    position: relative;
    left: 650px;
    right: auto;
    top: auto;
    bottom: auto;
    justify-content: center;
    align-items: center;

}

.form-box h2 {
    font-size: 2em;
    color: white;
}

.input-box{
    position: relative;
    width: 15%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:focus~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: black;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: 15px 0 15px;
}

.remember-forgot label input{
    accent-color: purple;
    margin-right: 3px;
}

.btn{
    width: 15%;
    height: 45px;
    background: #2D0457;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ff8c00;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: white;
    text-align: left;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ff8c00;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;  
}