@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;400&display=swap');

*{
    font-family: 'Ysabeau', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaVg0fk_P8AvOu-Bk0Gzvr51H592zKIbOoEh8Tb-j-JEKzaKTJ1mYpaynaL4n6bOBJRbvGyDYLyeX9p_gilTfRkkbBSWvFH_LFgt3LjNykQfDkpwD8qFPhDdzAgwVEU2K46UhP3veJGHbDKhTmxq2AJaZg=w728-h410-s-no?authuser=3);
    background-position: center;
    background-size: cover;
}

header{
    height: 200px;
    padding: 20px 0;
}

.header{
    position: fixed;
    top: 0;
    left: 110px;
    width: 100%;
    background: transparent;
    display: absolute;
    padding: 40px 10%;
}


.navbar a{
    position: relative;
    left: 1030px;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}


.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;
    padding: 20 2%;
 }
 
 html,body{
     height:100%;
     overflow-y: hidden;
     overflow-x: hidden;
     background-color: black;
 
 }

 .extras{
    position: absolute;
    bottom:-450px;
    right:-500px;
    width: 1000px;
    height: 890px;
    border-radius: 50%;
    background-color: #2D0457;
    border-width: 4px solid;
    border-style: solid;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.5);
}
 
.extras img{
    position: absolute;
    left: 30px;
    height: 480px;
    width: 390px;
    top: -59px; 
}

 header{
     height: 200px;
     padding: 20px 0;
 }
 
 .header{
     position: flex;
     top: 1px;
     left: 0;
     width: 100%;
     background: transparent;
     display: absolute;
     width: auto;
 }
 
img{
    position: absolute;
    width: 60px;
}
 
.centro{
    position: relative;
    top: -15px;
    left: 35px;
}

text h1, h2{
color: #fff;
font-size: 1.5em;
}

.translucent-box {
    position: relative;
    top: 110px;
    width: 875px;
    height: 520px;
    right: 140px;
    left: auto;
    background-color: #2D0457;
    padding: 20px;
    border-radius: 25px;
    opacity: 80%;
    border-width: 4px solid;
    border-style: solid;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.5);
  }